.send-button {
  border: 1px solid #0066cc;
  color: #0066cc;
  height: auto;
  border-radius: 3px;
  cursor: pointer;
}

.send-button:hover {
  border: 2px solid #0066cc;
}

.send-button-text {
  padding: 1px 5px 1px 5px;
}