.select-block {
  width: 250px;
  display: flex;
  flex-direction: column;
  height: 300px;
  align-items: anchor-center;
}

.options-shown {
  display: block;
  overflow-y: scroll;
  max-height: 185px;
  outline: 1px solid grey;
  width: 100%;
  z-index: 0;
  background-color: white;
}

.options-hidden {
  display: none;
}

.option {
  cursor: pointer;
}

.option:hover {
  background-color: #f0f0f0;
}

.selectedOption {
  background-color: #dedede;
}

.selectedByScrollOption {
  background-color: #e8e8e8;
}

form {
  display:flex;
  flex-direction:row;  
  border:1px solid grey;
  padding:1px;
  width: 250px;
  height: auto;
}

/* кнопка удаления */

input {
  flex-grow:2;
  border: none;
}

input:focus {
  outline: none;
}

form:focus-within { 
  outline: 1px solid grey;
  border-bottom: 2px solid #0066cc;
}

button {
  border: none;
  background:white;
  color:black;
  display: flex;
  width: 22px;
  cursor: pointer;
}

.delete-button-hidden {
  opacity: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}