.select-block {
  width: 250px;
}

.options-shown {
  display: block;
  overflow-y: scroll;
  max-height: 250px;
  outline: 1px solid grey;
}

.options-hidden {
  display: none;
}

/* .option {} */

.option:hover {
  background-color: #f0f0f0;
}

.selectedOption {
  background-color: #dedede;
}

form {
  display:flex;
  flex-direction:row;  
  border:1px solid grey;
  padding:1px;
  width: 250px;
}

/* кнопка удаления */

input {
  flex-grow:2;
  border: none;
}

input:focus {
  outline: none;
}

form:focus-within { 
  outline: 1px solid grey;
  border-bottom: 2px solid #0066cc;
}

button {
  border: none;
  background:white;
  color:black;
  display: flex;
  width: 22px;
}

button:hover {
  background:#dedede;
}